

.calculator {
    display: block;
    margin: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
    background-color: #ffc917;
    max-width: 223px;
    max-height: 325;
    border-radius: 2px;
}

.hey {
    background: linear-gradient(to bottom, #d6d6d6, #e6eceb);
    margin: 3px;
}

.number-btn, .equals-btn  {
    width: 45px;
    margin-right: 5px
}

.equals-btn {
    background: linear-gradient(to top, #f0efef, #f0eeee);
    
}

.operation-btn {
    width: 35px;
    background: linear-gradient(to top, #a3a8a8, #afafaf);
    font-size: 18px;
    color: whitesmoke;
}

#button-interface {
    background: #696969;
    padding: 5px 21px;
    border-radius: 3px;
    max-width: 213px;
    min-width: 213px;
}

.clear-btn, .backspace-btn {
    padding: 0rem 0.98rem;
    color: #9e7d9e;
}


#screen-interface {
    display: block;
    background-color: #e8edf8;
    border-radius: 3px;
    max-width: 213px;
    min-width: 213px;
    height: 80px;
    margin: 5px 0px;
}

#calculation-history {
    float: right;
    display: block;
    background: #d8d8d8;
    max-width: 223px;
    min-width: 213px;
    max-height: 325;
    border-radius: 2px;
    margin: 10px 0px;
}

#current-calculation {
    display: block;
    margin-bottom: 5px;
    height: 50px;
}

#answer {
    display: block;
    height: 25px;
}

#clear-history {
    display: block;
}

.directions {
    background: #ddffdd;
    max-width: 456px;
    margin-left: -5px;
    height: 100px;
    padding-left: 6px;
    border-radius: 3px;
}